:root{
    --color-green: #A5D364;
    --color-black:#333;
    --color-sky: #E7F6FF;
    --color-white: #FFFFFF;

    --primary-border: 20px;
    --cart-border: 40px;
    
    --cart-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.05);
    --main-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04); 
    
    --text-color: var(--color-black);
}